@import url(./__container/popup__container.css);
@import url(./__close-btn/popup__close-btn.css);
@import url(./_opened/popup_opened.css);


.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.popup_opened {
  display: flex;
}
