@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
  max-width: 882px;
  margin: 0 auto;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 622px) and (max-width: 1023px) {
  .header {
    max-width: 582px;
  }
}

@media screen and (max-width: 621px) {
  .header {
    max-width: 100%;
    padding-top: 28px;
  }
}
