.places-grid__like-btn {
  background-image: url(../../../images/like-button.svg);
  width: 21px;
  height: 19px;
  margin-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

.places-grid__like-btn:hover {
  transform: scale(1.15);
}
