.popup__close-btn {
  width: 45px;
  height: 45px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  margin-left: 420px;
  margin-top: -48px;
  cursor: pointer;
  transition: opacity 0.15s linear;
}

.popup__close-btn:hover {
  opacity: 0.6;
}
