.popup__close-btn {
  width: 45px;
  height: 45px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.15s linear;
  position: absolute;
  top: -45px;
  right: -35px
}

.popup__close-btn:hover {
  opacity: 0.6;
}
